<html>
	<head>

		<!-- Title -->
		<title>{% block title %}{% endblock %} - Polyglot</title>

		<!-- Bootstrap -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>

		<!-- React -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.min.js"></script>

		<!-- Less -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.0.0/less.js"></script>
		<link href="/static/css/global.css" rel="stylesheet">
		<link href="/static/css/global.less" rel="stylesheet">

		<!-- Custom JS/CSS -->
		{% block top_includes %}{% endblock %}

	</head>
	<body>

		<!-- Navbar -->
		<nav class="navbar navbar-blue" role="navigation">

		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">P</a>
		    </div>

		    <ul class="nav navbar-nav">

		    	{% if session.username %}
		        <li {% if data.section == 'chat' %}class="active"{% endif %}>
		        	<a href="/chat">Chat
		        	</a>
		        </li>
		        {% endif %}

	        	{% if session.username %}
		        	<li class="navbar-right">
		        		<a href="/logout">Logout</a>
		        	</li>
		        	<li class="navbar-right {% if data.section == 'profile' %}active{% endif %}" >
		        		<a href="/profile">Profile</a>
		        	</li>
	        	{% else %}
		        	<li class="navbar-right">
		        		<a href="/login">Login</a>
		        	</li>
	        	{% endif %}

		    </ul>

		</nav>

		<!-- Errors -->
		<center>
			{% for e in data.errors %}
				<div class="alert alert-danger">{{ e }}</div>
			{% endfor %}
		</center>

		<!-- Content -->
		{% block content %}
		{% endblock %}

	</body>
</html>
