{% extends "base.html" %}

{% block title %}Chat{% endblock %}

{% block top_includes %}
<link href="/static/css/chat.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='chatContainer'>

	<!-- React.js chat history -->
	<div id="chatWindow">
	</div>

	<!-- Send message window -->
	<form role="form" id="chatForm" class="chatForm">
		<textarea id="chatText" class="form-control" autofocus placeholder="Say something!"></textarea>
		<span id="chatSend" style="" class="chevron-inactive glyphicon glyphicon-chevron-right"></span>
	</form>

</div>

<!-- react.js code -->
<script type="text/javascript">

	// Create 'other' message object
	var otherMsgFactory = React.createClass({
		render: function() {
			return React.DOM.div({className: 'chatMsg'}, [
				React.DOM.img({className: 'chatImage otherChatImage', src: this.props.e_image}),
				React.DOM.div({className: 'chatText otherChatText'}, [
					React.DOM.pre({}, this.props.e_mesg),
					React.DOM.div({className: 'chatTip'}, this.props.e_tip)
				]),
			]);
		}
	});
	otherMsgFactory = React.createFactory(otherMsgFactory);

	// Create 'you' message object
	var youMsgFactory = React.createClass({
	render: function() {
		return React.DOM.div({className: 'chatMsg'}, [
			React.DOM.div({className: 'chatText youChatText'}, [
				React.DOM.pre({}, this.props.e_mesg),
				React.DOM.div({className: 'chatTip'}, this.props.e_tip)
			]),
			React.DOM.img({className: 'chatImage youChatImage', src: this.props.e_image}),
		]);
	}
	});
	youMsgFactory = React.createFactory(youMsgFactory);


	var chatCtr = document.getElementById("chatWindow")

	// Add message functions
	var addOtherMesg = function(mesg, tip) {
		return otherMsgFactory({e_mesg: mesg, e_tip: tip, e_image: '{{ theirPic }} '});
	}
	var addYouMesg = function(mesg, tip) {
		return youMsgFactory({e_mesg: mesg, e_tip: tip, e_image: '{{ yourPic }}' });
	}

	// React rendering
	var mesgObjects = [
		// addOtherMesg("Yo dawg\nHow about some Bell?\nlolololol", "7:56 PM"),
		// addYouMesg("Lol no", "2:25 PM")
	]
	var updateChat = function() {
		var out = React.DOM.div({}, mesgObjects);
		React.render(out, chatWindow);
		chatWindow.scrollTop = chatWindow.scrollHeight;
	}

	// Initial chat update
	updateChat();

</script>

<!-- HTML JS code -->
<script type="text/javascript">

	// ================ misc setup ================
	var canSend = false;
	var chatText = $('#chatText');
	var chatSend = $('#chatSend');

	// ========== send message function ===========
	var sendMessage = function() {

		// Send message (if allowed)
		if (canSend) {

			mesg = chatText.val();

			// Send message
			node_sendMessage(node_other, mesg);

			// Get tooltip
			var t = new Date();
			var h = t.getHours();
			var m = t.getMinutes()
			m = (m < 10 ? "0" : "") + m

			var tip = (h % 12) + ":" + m + (h < 12 ? " AM" : " PM");

			// Add message to message list
			mesgObjects.push(addYouMesg(mesg, tip));
			updateChat();
		}

		// Reset
		chatText.val('');
		canSend = false;
		chatSend.addClass("chevron-inactive");
		chatSend.removeClass("chevron-active");
	}

	// ============== key-handling js =============
	chatSend.click(function (){
		sendMessage();
	})
	chatText.keydown(function (e){

		// ======== Key actions ========
		// Shift-enter: add newline
		if (e.keyCode == 13 && e.shiftKey) {
			chatText.value += "\n";
		}

		// Enter: send
		else if (e.keyCode == 13 && canSend) {
			sendMessage();
			e.preventDefault();
		}
	});

	// =============== on-update js ===============
	chatText.on("keyup paste", function (){

		// Update send status
		var prevCanSend = canSend;
		canSend = (chatText.val().length != 0);
		if (canSend != prevCanSend) {
			if (canSend) {
				chatSend.addClass("chevron-active");
				chatSend.removeClass("chevron-inactive");
			} else {
				chatSend.addClass("chevron-inactive");
				chatSend.removeClass("chevron-active");
			}
		}
	});

</script>

<!-- Node.js interop -->
<script type="text/javascript">

	// Config variables
	var node_username = "{{ session.username }}";
	var node_language = "en";
	var node_other = "b";
	var server_addr = "http://wildhacks.cloudapp.net:4730/";

	// Send a GET request
	var node_GET = function(url) {

		// Ping server
		x = new XMLHttpRequest();
	    x.open( "GET", url, false );
	    x.send();
	    r = x.responseText;

	    // Update messages
	    console.log(r);
	}

	// Send a POST request
	var node_POST = function(url) {

		// Ping server
		x = new XMLHttpRequest();
	    x.open( "POST", url, false );
	    x.send();
	    r = x.responseText;

	    // Update messages
	    console.log(r);
	}

	// Register user
	var node_registerUser = function(username, lang) {
		var url = server_addr + "register/" + username + "/" + lang;
		node_GET(url);
	}
	node_registerUser(node_username, node_language);

	// Send message
	var node_sendMessage = function(target, message) {
		var url = server_addr + "send/" + node_username + "/" + target + "/" + message;
		node_GET(url);
	}

	// Get updates
	var node_getMessages = function(username) {
		var url = server_addr + "get/" + username;
		node_GET(url);
	}

</script>

<!-- Hahaha -->
<script type="text/javascript">
button.onclick = function(text) {
	var tts = new SpeechSynthesisUtterance(text);
	var voices = window.speechSynthesis.getVoices();
	tts.lang = lang;
	tts.pitch = 1;
	tts.rate  = 1;
	tts.pitch = 1;
	tts.voice = voices[0];
	tts.voiceURI = 'native';
	tts.volume = 1;
	speechSynthesis.speak(tts);
}


{% endblock %}
